<!DOCTYPE HTML>
<html>
	<head>
		<title>&#9733;&#9734;Rady and the Stars&#9734;&#9733; </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Rady  <span>and the Stars</span></a></div>
				<a href="#menu">МЕНЮ</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">начало</a></li>
					<li><a href="order.html">запиши си час</a></li>
					<li><a href="rady.html">За мен</a></li>
					<li><a href="contacts.html">контакт</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="images/slides/aries.png" alt="" />
					<div class="inner">
						<header>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slides/taurus.png" alt="" />
					<div class="inner">
						<header>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slides/gemini.png" alt="" />
					<div class="inner">
						<header>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slides/cancer.png" alt="" />
					<div class="inner">
						<header>
							<!-- <p>рак</p>
							<h2>Девиз</h2> -->
						</header>
					</div>
				</article>
				<article>
					<img src="images/slides/leo.png" alt="" />
					<div class="inner">
						<header>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slides/virgo.png" alt="" />
					<div class="inner">
						<header>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slides/libra.png" alt="" />
					<div class="inner">
						<header>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slides/scorpio.png" alt="" />
					<div class="inner">
						<header>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slides/sagittarius.png" alt="" />
					<div class="inner">
						<header>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slides/capricorn.png" alt="" />
					<div class="inner">
						<header>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slides/aquarius.png" alt="" />
					<div class="inner">
						<header>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slides/pisces.png" alt="" />
					<div class="inner">
						<header>
						</header>
					</div>
				</article>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">
						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/love.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Интересуваш се от ...</p>
										<h2>Любов и взаимоотношения</h2>
									</header>
									<p> Любов, връзки, кармични влияния и уроци.
										Твоят хороскоп съдържа отговорите на всички въпроси, които имаш относно любовния си живот.
										Какви партньори привличаш и защо? Кои са любовните периоди в живота ти?
										Кога да сключиш брак? Каква е съвместимостта с партньора ти и къде е възможно да срещнете трудности в съвместния ви път?
										Всичко това е записано в хороскопа и в комбинацията между две натални карти.  </p>
									<footer class="align-center">
										<a href="order.html" class="button alt">Поръчай сега!</a>
									</footer>
								</div>
							</div>
						</div>
						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/astro.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Търсиш...</p>
										<h2>Цялостни астрологични консултации</h2>
									</header>
									<p> Хороскопът показва твоят живот, той е като книга, която разказва твоята лична история. Тази информация дава знание, показва потенциалите ти, предизвикателствата, пред които се изправяш и начините за преодоляването им. Всички уроци и всички възможности, които стоят пред теб и вътре в теб са записани в наталната ти карта. Да полуучиш информация за живота си чрез езика на астрологияте е истинско духовно пътешествие.</p>
									<footer class="align-center">
										<a href="order.html" class="button alt">Поръчай сега!</a>
									</footer>
								</div>
							</div>
						</div>
						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/tarrot.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Трябва ти ... </p>
										<h2>Таро и оракулски карти</h2>
									</header>
									<p> Попитай картите и те ще ти покажат пътя, за да намериш отговори и да живееш в хармония.</p>
									<footer class="align-center">
										<a href="order.html" class="button alt">Поръчай сега!</a>
									</footer>
								</div>
							</div>
						</div>
						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/reiki.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Търсиш.... </p>
										<h2>Рейки лечение</h2>
									</header>
									<p> Имам инициация в Рейки II. Рейки е универсалната жизнена енергия, която носи здраве, благополучие и помага за изчистване от блокажи във всяка сфера на живота.</p>
									<footer class="align-center">
										<a href="order.html" class="button alt">Поръчай Сега!</a>
									</footer>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Твоят личен астролог</p>
						<h2><a href="contacts.html">Свържи се с мен</a></h2>
					</header>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/radyandthestars/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/rady_and_the_stars/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="mailto:radyandthestars@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
					<a href="Rady.html">Rady</a>
					<a href="contacts.html">Контакт</a>

				</div>
				<div class="copyright">
					&copy; Rady and the stars
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
