<!DOCTYPE html>
#TODO submit fade-out

{% extends 'base.html' %}
{% block page_title %}
    свържи се с мен
{% endblock %}
{% block body_contents %}
    {% if not message_received %}
        <div id="main" class="container">
            <h3>Моля, попълнете формата за контакт и аз ще се свържа с Вас възможно най-скоро!</h3>
            <p style="color:red"><em>полетата отбелязани със *** са задължителни!</em></p>
            <br>
            <form action="{% url 'main_app:contacts' %}" method="post">
                {% csrf_token %}
                <div class="row uniform">
                    <div class="6u 12u$(xsmall)">
                        {{ whole_form.names }}
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        {{ whole_form.email }}
                    </div>
                </div>
                <br>
                <div class="12u$">
                    {{ whole_form.phone }}
                </div>
                <br>
                <div class="12u$">
                    {{ whole_form.message }}
                </div>
                <br>
                <!-- Break -->
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" id="submit-button" value="Изпрати!"></li>
                        <li><input type="reset" class="alt"/></li>
                        <script>
                            $('#submit-button').on('submit', function () {
                                var div_success = $('.container');
                                div_success.eq(1).fadeOut(1500);

                            });
                        </script>
                    </ul>
                </div>
            </form>
        </div>
    {% else %}
        <div class="container"><h4>Вашето запитване е получено!</h4></div>
    {% endif %}


    <div class="container">
        <dl class="align-justify">
            <dt>Други начини за контакт с мен:</dt>
            <dd>
                <p>Телефон: +359 88 428 4207</p>
                <p>Email: <a href="mailto:radyandthestars@gmail.com">radyandthestars@gmail.com</a>
                <p>SKYPE: Radostina.happylina - > <a href="skype:Radostina.happylina?chat">Започни чат</a></p>
                <p>Facebook: <a href="https://www.facebook.com/radyandthestars/">Rady and the stars</a></p>
            </dd>
        </dl>
    </div>


{% endblock %}
