<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %} твоят личен астролог {% endblock %}
{% block body_contents %}



        {#    <section class="banner full">#}
        {#        <article>#}
        {#            <img src="{% static 'images/slides/aries.png' %}" alt=""/>#}
        {#            <div class="inner">#}
        {#                <header>#}
        {#                </header>#}
        {#            </div>#}
        {#        </article>#}
        {#        <article>#}
        {#            <img src="{% static 'images/slides/taurus.png' %}" alt=""/>#}
        {#            <div class="inner">#}
        {#                <header>#}
        {#                </header>#}
        {#            </div>#}
        {#        </article>#}
        {#        <article>#}
        {#            <img src="{% static 'images/slides/gemini.png' %}" alt=""/>#}
        {#            <div class="inner">#}
        {#                <header>#}
        {#                </header>#}
        {#            </div>#}
        {#        </article>#}
        {#        <article>#}
        {#            <img src="{% static 'images/slides/cancer.png' %}" alt=""/>#}
        {#            <div class="inner">#}
        {#                <header>#}
        {#                    <!-- <p>рак</p>#}
        {#                    <h2>Девиз</h2> -->#}
        {#                </header>#}
        {#            </div>#}
        {#        </article>#}
        {#        <article>#}
        {#            <img src="{% static 'images/slides/leo.png' %}" alt=""/>#}
        {#            <div class="inner">#}
        {#                <header>#}
        {#                </header>#}
        {#            </div>#}
        {#        </article>#}
        {#        <article>#}
        {#            <img src="{% static 'images/slides/virgo.png' %}" alt=""/>#}
        {#            <div class="inner">#}
        {#                <header>#}
        {#                </header>#}
        {#            </div>#}
        {#        </article>#}
        {#        <article>#}
        {#            <img src="{% static 'images/slides/libra.png' %}" alt=""/>#}
        {#            <div class="inner">#}
        {#                <header>#}
        {#                </header>#}
        {#            </div>#}
        {#        </article>#}
        {#        <article>#}
        {#            <img src="{% static 'images/slides/scorpio.png' %}" alt=""/>#}
        {#            <div class="inner">#}
        {#                <header>#}
        {#                </header>#}
        {#            </div>#}
        {#        </article>#}
        {#        <article>#}
        {#            <img src="{% static 'images/slides/sagittarius.png' %}" alt=""/>#}
        {#            <div class="inner">#}
        {#                <header>#}
        {#                </header>#}
        {#            </div>#}
        {#        </article>#}
        {#        <article>#}
        {#            <img src="{% static 'images/slides/capricorn.png' %}" alt=""/>#}
        {#            <div class="inner">#}
        {#                <header>#}
        {#                </header>#}
        {#            </div>#}
        {#        </article>#}
        {#        <article>#}
        {#            <img src="{% static 'images/slides/aquarius.png' %}" alt=""/>#}
        {#            <div class="inner">#}
        {#                <header>#}
        {#                </header>#}
        {#            </div>#}
        {#        </article>#}
        {#        <article>#}
        {#            <img src="{% static 'images/slides/pisces.png' %}" alt=""/>#}
        {#            <div class="inner">#}
        {#                <header>#}
        {#                </header>#}
        {#            </div>#}
        {#        </article>#}
        {#    </section>#}

        <!-- One -->
        <section id="one" class="wrapper style2">
            <div class="inner">
                <div class="grid-style">
                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img src="{% static '/images/love.jpg' %}" alt=""/>
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>Интересуваш се от ...</p>
                                    <h2>Любов и взаимоотношения</h2>
                                </header>
                                <p> Любов, връзки, кармични влияния и уроци.
                                    Твоят хороскоп съдържа отговорите на всички въпроси, които имаш относно любовния си
                                    живот.
                                    Какви партньори привличаш и защо? Кои са любовните периоди в живота ти?
                                    Кога да сключиш брак? Каква е съвместимостта с партньора ти и къде е възможно да
                                    срещнете трудности в съвместния ви път?
                                    Всичко това е записано в хороскопа и в комбинацията между две натални карти. </p>
                                <footer class="align-center">
                                    <a href="{% url 'main_app:order' %}" class="button alt">Поръчай Сега!</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img src="{% static '/images/astro.jpg' %}" alt=""/>
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>Търсиш...</p>
                                    <h2>Цялостни астрологични консултации</h2>
                                </header>
                                <p> Хороскопът показва твоят живот, той е като книга, която разказва твоята лична
                                    история.
                                    Тази информация дава знание, показва потенциалите ти, предизвикателствата, пред
                                    които се
                                    изправяш и начините за преодоляването им. Всички уроци и всички възможности, които
                                    стоят
                                    пред теб и вътре в теб са записани в наталната ти карта. Да получиш информация за
                                    живота си чрез езика на астрологияте е истинско духовно пътешествие.</p>
                                <footer class="align-center">
                                    <a href="{% url 'main_app:order' %}" class="button alt">Поръчай Сега!</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img src="{% static '/images/tarrot.jpg' %}" alt=""/>
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>Трябва ти ... </p>
                                    <h2>Таро и оракулски карти</h2>
                                </header>
                                <p> Попитай картите и те ще ти покажат пътя, за да намериш отговори и да живееш в
                                    хармония.</p>
                                <footer class="align-center">
                                    <a href="{% url 'main_app:order' %}" class="button alt">Поръчай Сега!</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img src="{% static '/images/news.jpg' %}" alt=""/>
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>Искаш да видиш...</p>
                                    <h2>Новини и Видео материали</h2>
                                </header>
                                <p>Гледай или прочети материали на различни теми, свързани с астрологията. </p>
                                <footer class="align-center">
                                    <a href="{% url 'main_app:order' %}" class="button alt">Гледай тук!</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper style3">
            <div class="inner">
                <header class="align-center">
                    <p>Твоят личен астролог</p>
                    <h2><a href="../main_app/contacts.html">Свържи се с мен</a></h2>
                </header>
            </div>
        </section>
{% endblock %}
