<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block body_contents %}
 </div>

    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Astrology is a language. If you understand this language, the sky speaks to you.</p>
                <h2> Dane Rudhyar </h2>
            </header>
        </div>
    </section>
     <div id="main" class="container">

    <!-- Two -->
    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <p>Твоят личен астролог</p>
                        <h2>Ради</h2>
                    </header>
                    <h4 align=center>зодия Скорпион, с асцендент Водолей и Луна в Козирог</h4>
                    <p align=justify>През живота си съм се занимавала с хиляди неща, но преди няколко години открих
                        любовта на живота си – Астрологията.
                        Винаги ми е било любопитно и интересно, но едва когато се заех сериозно с астрологията открих,
                        че това е страстта ми.
                        Учих се от две звезди в сферата – изключителните Оксана Хорват-Станчева и Кирил Горанов.
                        Сега работя главно за чужбина с прекрасната Лада от <a target="_blank"
                                                                               href="http://www.astrolada.com/readers/radostina.html">astrolada</a>,
                        но се надявам да съм полезна и тук, в България.
                        Използвам и таро, оракулски карти и имам инициация в Рейки II. Винаги съм смятала, че мисията на
                        живота ми е да помагам на хората, да ги мотивирам и вдъхновявам.
                        Правя това от сърце и с благодарност. Ако все още не сте намерили своя път или имате други
                        дилеми, ще се радвам да ги споделите и заедно да намерим решение.</p>
                    <div class="image fit">
                        <img src="{% static 'images/rady.jpg' %}" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="two.two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <h2>Казано от другите за мен:</h2>
                    </header>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="grid-style">
                <div>
                    <div class="box">
                        <div class="content">
                            <header class="align-center">
                                <h3 align=justify>"Вчера бях на консултация при Ради и беше невероятно!
                                    Тя е прекрасна, усмихната, лъчезарна и слънчева! Изключително съм доволна от
                                    професионализма й и от всичко,което ми каза и разчете :)
                                    Горещо я препоръчвам! Няма да останете разочаровани - само очаровани!
                                    Благодаря ти, Ради! </h3>
                            </header>
                            <footer class="align-center">
                                <p>Bistra Georgieva </p>
                            </footer>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <div class="content">
                            <header class="align-center">
                                <h3 align=justify>"Always finds the right words to touch your heart" </h3>
                            </header>
                            <footer class="align-center">
                                <p>Simona Simeonova</p>
                            </footer>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <div class="content">
                            <header class="align-center">
                                <h3 align=justify>"I've always been fascinated by astrology and have had many readings
                                    from various astrologers across Europe. Rady provided one of the most accurate
                                    readings I have had to date.
                                    I will certainly be asking her for more readings in future!" </h3>
                            </header>
                            <footer class="align-center">
                                <p>Dale K. </p>
                            </footer>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <div class="content">
                            <header class="align-center">
                                <h3 align=justify>"Страхотен астролог! Личи си, че говори с много вещина. Много съм
                                    впечатлена!" </h3>
                            </header>
                            <footer class="align-center">
                                <p>Monika Nikolova</p>
                            </footer>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <div class="content">
                            <header class="align-center">
                                <h3 align=justify>"Изключително приятен човек и отличен специалист : ))" </h3>
                            </header>
                            <footer class="align-center">
                                <p>Павел Петров</p>
                            </footer>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <div class="content">
                            <header class="align-center">
                                <h3 align=justify>"I always ask Radostina when I have an important decision to take or
                                    when I am going through some interesting stage in my life.
                                    She has intuition and deep understanding of how the planetary influences work on our
                                    lives. I strongly recommend her services." </h3>
                            </header>
                            <footer class="align-center">
                                <p>Nicky S. </p>
                            </footer>
                        </div>
                    </div>
                </div>
    </section>

    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Твоят личен астролог</p>
                <h2><a href="contacts.html">Свържи се с мен</a></h2>
            </header>
        </div>
    </section>
{% endblock %}
