{% extends 'base.html' %}
{% load staticfiles %}
{% block html_title_and_links %}
    <title>Таро на деня</title>
{% endblock %}
{% block page_title %}
    таро карта за деня
{% endblock %}
{% block body_contents %}
    {% for item in day_tarot %}
        <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <p>Твоята карта за деня е:</p>
                        <h2>{{ item.name }}</h2>
                    </header>

                    {% with image_static='tarot/'|add:item.picture_name %}
                        <div class="row 50% uniform" style="color: #252431; text-align: justify;margin-top: 30px">
                        <p style="font-size: 20px">
                        <span class="image left"><img src="{% static   image_static %}"></span>
                    {% endwith %}
                    {{ item.meaning }}
                    </p>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% for item in user_tarot %}
    <div class="inner">
        <div class="box">
            <div class="container">
                <h3>Ти изтегли тази карта на {{ item.date_used }}</h3>
                <h4>Твоите бележки за картата </h4>
                <p class="editable_textarea" role="button" tabindex="0"
                   title="Click to edit">{{ item.user_notes }}</p>
                <br>
                {#                <input id="note-input-button" class="button special" value="Редактирай" type="button">#}
            </div>
        </div>
    </div>
    </section>
{% endfor %}
    <script>
        $(document).ready(function () {
            $(".editable_textarea").editable("{% url 'user_content:tarot_of_the_day:card_of_the_day' %}", {
                type: 'textarea',
                submit: 'Редактирай',
                cancelcssclass: 'button alt',
                submitcssclass: 'button special',
                cancel: 'Отказ',
                width: 600,
                tooltip: 'Натистни за промяна',
                indicator: 'Запазване...',
                submitdata: {csrfmiddlewaretoken: "{{ csrf_token }}"}
            });
        });

    </script>


{% endblock %}