<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Здравей, {{ user.username }}! {% endblock %}
{% block body_contents %}


    <!-- One -->

    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">
                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="{% static '/images/love.jpg' %}" alt=""/>
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Твоята...</p>
                                <h2>Таро карта за деня</h2>
                            </header>
                            <p> Описание за Таро карта на деня </p>
                            <footer class="align-center">
                                <a href="{% url 'tarot_of_the_day:card_of_the_day' %}" class="button alt">Изтегли</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="{% static '/images/astro.jpg' %}" alt=""/>
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Трябват ти ...</p>
                                <h2>Видео от курсове</h2>
                            </header>
                            <p> Ако си присъствала на мои курсове, тук ще намериш видеото от курсовете.
                            </p>
                            <footer class="align-center">
                                <a href="{% url 'courses:courses_index' %}" class="button alt">Виж видео</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Two -->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Твоят личен астролог</p>
                <h2><a href="../main_app/contacts.html">Свържи се с мен</a></h2>
            </header>
        </div>
    </section>
{% endblock %}
