<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Здравей, {{ user.username }}! {% endblock %}
{% block body_contents %}


    <!-- One -->

    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">
                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="{% static '/images/love.jpg' %}" alt=""/>
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Твоята...</p>
                                <h2>Таро карта за деня</h2>
                            </header>
                            <p> Описание за Таро карта на деня </p>
                            <footer class="align-center">
                                <a href="{% url 'main_app:order' %}" class="button alt">Изтегли</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="{% static '/images/astro.jpg' %}" alt=""/>
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Търсиш...</p>
                                <h2>Видео от курсове</h2>
                            </header>
                            <p> Хороскопът показва твоят живот, той е като книга, която разказва твоята лична история.
                                Тази информация дава знание, показва потенциалите ти, предизвикателствата, пред които се
                                изправяш и начините за преодоляването им. Всички уроци и всички възможности, които стоят
                                пред теб и вътре в теб са записани в наталната ти карта. Да полуучиш информация за
                                живота си чрез езика на астрологияте е истинско духовно пътешествие.</p>
                            <footer class="align-center">
                                <a href="{% url 'user_content:courses' %}" class="button alt">Поръчай Сега!</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="{% static '/images/tarrot.jpg' %}" alt=""/>
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Трябва ти ... </p>
                                <h2>Таро и оракулски карти</h2>
                            </header>
                            <p> Попитай картите и те ще ти покажат пътя, за да намериш отговори и да живееш в
                                хармония.</p>
                            <footer class="align-center">
                                <a href="{% url 'main_app:order' %}" class="button alt">Поръчай Сега!</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="{% static '/images/reiki.jpg' %}" alt=""/>
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Търсиш.... </p>
                                <h2>Рейки лечение</h2>
                            </header>
                            <p> Имам инициация в Рейки II. Рейки е универсалната жизнена енергия, която носи здраве,
                                благополучие и помага за изчистване от блокажи във всяка сфера на живота.</p>
                            <footer class="align-center">
                                <a href="{% url 'main_app:order' %}" class="button alt">Поръчай Сега!</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Твоят личен астролог</p>
                <h2><a href="../main_app/contacts.html">Свържи се с мен</a></h2>
            </header>
        </div>
    </section>
{% endblock %}
