<!doctype html>
{% extends 'user_content/profile_base.html' %}
{% load staticfiles %}
{% block profile_html_title %}
    Профил:Хороскопи
{% endblock %}
{% block horoscopes_menu %}
    class="active"
{% endblock %}


{% block page_title %}
    твоят профил - хороскопи
{% endblock %}
{% block profile_content %}

    <h2>{{ horoscopes_detail.title }}</h2>

    <p style="text-align: justify">{{ horoscopes_detail.article_text }}</p>
    <ul class="actions">
        <li><a href="{% url 'user_content:horoscope_list' %}"
               class="button">Обратно</a></li>
    </ul>


{% endblock %}

