{% extends 'user_content/profile_base.html' %}
{% load staticfiles %}
{% block profile_html_title %}
    Профил:Таро
{% endblock %}
{% block page_title %}
    твоят профил:таро карти
{% endblock %}
{% block tarrot_menu %}class="active"{% endblock %}
{% block  profile_content %}
    <h3>Твоята карта за {{ tarot_detail.date_used }} e: {{ tarot_detail.date_card.name }}</h3>

    {% with image_static='tarot/'|add:tarot_detail.date_card.picture_name %}
        <div class="row 50% uniform" style="color: #252431; text-align: justify;margin-top: 10px">
        <p style="font-size: 13px">
        <span class="image left"><img src="{% static   image_static %}"></span>
    {% endwith %}
{{ tarot_detail.date_card.meaning }}
</div>
    </p>
    <p>Оставил си тази бележка към картата:</p>
    <p> {{ tarot_detail.user_notes }}</p>
    <ul class="actions">
        <li><a href="./daily_tarot_note_edit{{ tarot_detail.id }}"
               class="button special">Редактирай!</a></li>
        <li><a href="{% url 'user_content:profile_tarot_list' %}"
               class="button">Обратно</a></li>

    </ul>
{% endblock %}