<!doctype html>
{% extends 'user_content/profile_base.html' %}
{% load staticfiles %}
{% block profile_html_title %}
    Профил:настройки
{% endblock %}

{% block settings_menu %}
    class="active"
{% endblock %}


{% block page_title %}
    твоят профил - настройки
{% endblock %}
{% block profile_content %}

    <div class="box">
        <form method="POST">
            {{ form.as_p }}

            {% csrf_token %}
            <input type="submit" value="Изпрати">

        </form>
    </div>


{% endblock %}

