<!doctype html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}
    твоят профил
{% endblock %}
{% block body_contents %}


    <div id="w">
        <div id="content" class="clearfix">

            <div id="userphoto"><img src="{% static 'images/avatar.png' %}" alt="default avatar"></div>
            <nav id="profiletabs">
                <ul class="clearfix">
                    <li><a href="{% url 'user_content:profile' %}">Инфо</a></li>
                    <li><a href="{% url 'user_content:settings' %}" class="sel"> Настройки</a></li>
                    <li><a href="{% url 'user_content:horoscope_list' %}">Хороскопи</a></li>
                </ul>
            </nav>
            <br>
            <br>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Редактирай">
                <input type="reset" value="Възтанови" class="alt"><a href="#"></a>
            </form>


        </div>

    </div>





{% endblock %}

