<!doctype html>
{% extends 'user_content/profile_base.html' %}
{% load staticfiles %}
{% block profile_html_title %}
    Профил:настройки
{% endblock %}
{% block header_scripts_load %}
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block settings_menu %}
    class="active"
{% endblock %}


{% block page_title %}
    твоят профил - настройки
{% endblock %}
{% block profile_content %}

    {% for item in settings_list %}
        <div id="accordion">
            <h3 style="margin-bottom: 10px">Основни настройки</h3>
            <div class="box">
                <p style="margin-bottom: 10px">Потребителско
                    име: {{ item.user.username }}</p>
                <p style="margin-bottom: 10px">Парола: <a href="{% url 'user_content:password_change' %}">[Промени
                    парола]</a></p>
                {% if  item.user.first_name  != '' %}
                    <p style="margin-bottom: 10px;">
                        Име: {{ item.user.first_name }}</p>
                {% else %}
                    <p style="margin-bottom: 10px">Име: Не е въведено</p>
                {% endif %}
                {% if  item.user.last_name  != '' %}
                    <p style="margin-bottom: 10px">
                        Фамилия: {{ item.user.last_name }}</p>
                {% else %}
                    <p style="margin-bottom: 10px">Фамилия: Не е въведено</p>
                {% endif %}
                <p style=" margin-bottom: 10px">Email: {{ item.user.email }}</p>
                <br>

                <ul class="actions">
                    <li><a href="{% url 'user_content:main_settings' %}"
                           class="button fit">Редактирай</a></li>
                </ul>
            </div>
            <h3>Допълнителни настройки</h3>
            <div class="box">
                {% if  item.phone  != '' %}
                    <p style="margin-bottom: 10px">Телефон: {{ item.phone }}</p>
                {% else %}
                    <p style="margin-bottom: 10px">Телефон: Не е въведено</p>
                {% endif %}
                {% if  item.birthday  != None %}
                    <p style="margin-bottom: 10px">Дата на раждане: {{ item.birthday }}</p>
                {% else %}
                    <p style="margin-bottom: 10px">Дата на раждане: Не е въведено</p>
                {% endif %}
                {% if  item.hour_of_birth  != None %}
                    <p style="margin-bottom: 10px">Час на
                        раждане: {{ item.hour_of_birth }}</p>
                {% else %}
                    <p style="margin-bottom: 10px">Час на раждане: Не е въведено</p>
                {% endif %}
                {% if  item.city_of_birth  != '' %}
                    <p style="margin-bottom: 10px">Град на раждане: {{ item.city_of_birth }}</p>
                {% else %}
                    <p style="margin-bottom: 10px">Град на раждане: Не е въведено</p>
                {% endif %}
                {% if  item.country_of_birth  != '' %}
                    <p style="margin-bottom: 10px">Държава на
                        раждане: {{ item.country_of_birth }}</p>
                {% else %}
                    <p style="margin-bottom: 10px">Държава на раждане: Не е
                        въведено</p>
                {% endif %}
                <br>
                <ul class="actions">
                    <li><a href="{% url 'user_content:extra_settings' %}"
                           class="button fit">Редактирай</a></li>
                </ul>
            </div>
        </div>

    {% endfor %}
    <script>
        $("#accordion").accordion();
    </script>

{% endblock %}

