<!doctype html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}
    твоят профил - Твоите хороскопи
{% endblock %}
{% block body_contents %}


    <div id="w">
        <div id="content" class="clearfix">
            <div id="userphoto"><img src="{% static 'images/avatar.png' %}" alt="default avatar"></div>
            <nav id="profiletabs">
                <ul class="clearfix">
                    <li><a href="{% url 'user_content:profile' %}">Инфо</a></li>
                    <li><a href={% url 'user_content:settings' %}> Настройки</a></li>
                    <li><a href="{% url 'user_content:horoscope_list' %}" class="sel">Хороскопи</a></li>
                </ul>
            </nav>
            <div class="container">
                <br>
                <div class="container">
                    <br>
                    <ul>
                        <h2>Това са нещата написани за теб:</h2>
                        {% for item in horoscopes_list %}
                            <li><a href="/userportal/detail_text{{ item.id }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>


            </div>

        </div>
    </div>






{% endblock %}

