{% extends 'user_content/profile_base.html' %}
{% load staticfiles %}
{% block profile_html_title %}
    Профил:Таро
{% endblock %}
{% block page_title %}
    твоят профил:таро карти
{% endblock %}
{% block tarrot_menu %}class="active"{% endblock %}
{% block  profile_content %}
    <h3>Твоите таро карти по дни:</h3>
    <ul>
        {% for item in tarot_list %}
            <li><a href="./daily_tarot_detail{{ item.id }}">{{ item.date_used }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}