<!doctype html>
{% extends 'user_content/profile_base.html' %}
{% load staticfiles %}
{% block profile_html_title %}
    Профил:Хороскопи
{% endblock %}
{% block horoscopes_menu %}
    class="active"
{% endblock %}


{% block page_title %}
    твоят профил - хороскопи
{% endblock %}
{% block profile_content %}

    <h3>Твоите хороскопи:</h3>
    <ul>
        {% for item in horoscopes_list %}
            <li><a href="/userportal/detail_text{{ item.id }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

