<!DOCTYPE HTML>

{% extends 'base.html' %}
{% block page_title %}
    регистрирай се
{% endblock %}
{% block body_contents %}
    <div class="container">

        {% if registered %}
            <p>Регистрацията беше успешнa! Моля, натистни
                <a href="{% url 'user_content:index' %}">тук </a>
                , за да отидеш на началната страница на портала!
            </p>
        {% elif  user.is_authenticated %}
            <p>Вече си влезнал! Моля, натистни
                <a href="{% url 'user_content:index' %}">тук </a>
                , за да се върнеш на началната страница!
            </p>
        {% elif passwords_not_match %}
            <p>Въведените пароли не са еднакви! Моля, натистни
                <a href="{% url 'user_content:register' %}"> тук </a>
                , за да въведете отново!
            </p>
        {% else %}
            <form action="{% url 'user_content:register' %}" method="post">
                {% csrf_token %}
                <div class="row uniform">
                    <div class="6u 12u$(xsmall)">
                        <h3>*Задължителни полета:</h3>
                        {{ register_form.as_p }}
                        <br><br>

                        <h3>Незадължителни полета</h3>
                        {{ extra_data_form.as_p }}

                    </div>
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <br>
                        <li><input type="submit" id="submit-button" value="Регистрирай се!"></li>
                    </ul>
                </div>

            </form>
        {% endif %}
    </div>
{% endblock %}
