{% extends 'base.html' %}
{% block page_title %}
    регистрирай се
{% endblock %}
{% block body_contents %}
    <br><br>
    <div class="container">
        {% if form.errors %}
            <p>Грешка при въвеждане!</p>
        {% endif %}
        <form method="POST">
            <div class="container">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <input type="submit" id="submit-button" value="Регистрирай се!">
        </form>
    </div>
{% endblock %}
